__pycache__/
*.egg-info/
build/
dist/
venv/
.venv/
.installer/
.module_dependencies/
.compat_cache/
compat_report/

config.ini
db.json
shizu-*.json
shizu.log
downloads
shizu.session
shizu.session-journal
shizu-tl.session
shizu-tl.session-journal
telethon_sessions.sqlite3*
telethon_sessions.key

.idea
.DS_Store

/tests
/docs
/scripts/*
!/scripts/install.py
